<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Foros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nier: ayuda con el final C</ion-card-title>
      <p>Autor: Silver342</p>
    </ion-card-header>
  
    <ion-card-content>
      Hola soy nuevo en esto xd, quería pedir una ayuda en cuanto al juego nier Gestalt o nier, de la Xbox 360, ps me lo estoy
      pasando y ya he pasado el final a y b y para pasarme el final c necesito tener todas las armas, dicho por el juego,
      tengo el 90% de las armas(según el juego) pero no sé si me faltan o si con eso puedo sacar el final c, y en Youtube o en
      otros lados no me sale nada de eso, si alguien podría ayudarme y responder se lo agradecería mucho, gracias!!
    </ion-card-content>
  </ion-card>
  
  <ion-list>
    <h2>Comentarios:</h2>
    <ion-item>
      <ion-textarea class="custom-textarea" placeholder="Comenta aqui"></ion-textarea>
    </ion-item>
  </ion-list>
  
  <div class="button-container">
    <ion-button>Enviar comentario</ion-button>
  </div>
</ion-content>
