<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title" >Registrate en GamerNest </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo">
    <ion-list class="Register">
      <ion-item>
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input [(ngModel)]="usuario" (ngModelChange)="validarUsuario()" placeholder="Nombre de Usuario:"></ion-input>
      </ion-item>
      <p *ngIf="mensajeUsuario" class="error"> {{mensajeUsuario}} </p>

      <ion-item>
        <ion-icon slot="start" name="at-outline"></ion-icon>
        <ion-input [(ngModel)]="correo" (ngModelChange)="validarCorreo()" placeholder=" Correo Electronico:" type="email"></ion-input>
      </ion-item>
      <p *ngIf="mensajeCorreo" class="error"> {{mensajeCorreo}} </p>
    
      <ion-item>
        <ion-icon slot="start" name="at-outline"></ion-icon>
        <ion-input [(ngModel)]="correo2" (ngModelChange)="correosIguales()" placeholder="Confirme su Correo:" type="email"></ion-input>
      </ion-item>
      <p *ngIf="msjCorreosIguales" class="error"> {{msjCorreosIguales}} </p>
      
      <ion-item>
        <ion-icon slot="start" name="lock-closed-sharp"></ion-icon>
        <ion-input [(ngModel)]="contrasena" (ngModelChange)="validarContrasena()" type="password" label="Contraseña:" value="">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <p *ngIf="msjContrasena" class="error"> {{msjContrasena}} </p>

      <ion-item>
        <ion-icon slot="start" name="lock-closed-sharp"></ion-icon>
        <ion-input [(ngModel)]="contrasena2" (ngModelChange)="contrasenasIguales()" type="password" placeholder="Confirmar contraseña:" value="">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <p *ngIf="msjContrasenasIguales" class="error"> {{msjContrasenasIguales}} </p>

    </ion-list>

    <ion-button class="ion-padding" (click)="continuar()" color="tertiary">Registrarse</ion-button>
  </div>
    
</ion-content>|  
