<ion-header [translucent]="true">
  <ion-back-button defaultHref="/configuracion" class="custom-back-button"></ion-back-button>
  <ion-toolbar>
    <ion-title class="title" >iniciar sesion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <strong>
      <ion-item>
        <ion-input label="Correo actual" type="email" placeholder="email@domain.com"></ion-input>
      </ion-item>
    </strong>
    <ion-item>
      <ion-input label="nuevo Correo" type="email" placeholder="email@domain.com"></ion-input>
    </ion-item>
  </div>
  <ion-button class="ion-padding" [routerLink]="['/home']">Actualizar</ion-button>
</ion-content>