<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title" >Cambiar correo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container" *ngFor="let x of arregloPerfil">
    
    <ion-item>
      <ion-input [(ngModel)]="correoIngresado" (ngModelChange)="validarCorreo()" label="Correo actual:" type="email"></ion-input>
    </ion-item>
    <p *ngIf="msjCorreoActual" class="error"> {{msjCorreoActual}} </p>
    
    <ion-item>
      <ion-input [(ngModel)]="newCorreo" (ngModelChange)="validarNewCorreo()" label="Nuevo correo:" type="email"></ion-input>
    </ion-item>
    <p *ngIf="msjNewCorreo" class="error"> {{msjNewCorreo}} </p>

    <ion-item>
      <ion-input [(ngModel)]="newCorreo2" (ngModelChange)="validarCorreos()" label="Confirmar correo nuevo:" type="email"></ion-input>
    </ion-item>
    <p *ngIf="msjvalidacion" class="error"> {{msjvalidacion}} </p>

  </div>
  <ion-button class="ion-padding" (click)="continuar()">Actualizar</ion-button>
</ion-content>