<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
      <ion-segment [(ngModel)]="selectTabs">
        <ion-segment-button value="activos">
          <ion-label>Usuarios activos</ion-label>
        </ion-segment-button>

        <ion-segment-button value="suspendidos">
          <ion-label>Suspendidos</ion-label>
        </ion-segment-button>
      </ion-segment>
  </ion-header>

  <div *ngIf="selectTabs == 'activos'">
    <ion-list lines="none">
      <ion-list-header>
        <ion-label class="header-label">Usuarios</ion-label>
        <ion-label class="header-label">Correo</ion-label>
      </ion-list-header>
    
      <ion-item-sliding *ngFor="let x of arregloUsuario">
        <ion-item>
          <ion-label> {{x.id_usuario}} </ion-label>
          <ion-label> {{x.nickName}} </ion-label>
          <ion-label> {{x.correo}} </ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="warning" (click)="suspender(x)" >Suspender</ion-item-option>
        </ion-item-options>
    
      </ion-item-sliding>
    </ion-list>
  </div>

  <div *ngIf="selectTabs == 'suspendidos'">
    <ion-list lines="none">
      <ion-list-header>
        <ion-label class="header-label">Usuarios</ion-label>
        <ion-label class="header-label">Correo</ion-label>
      </ion-list-header>
    
      <ion-item-sliding *ngFor="let x of arregloUsuarioSuspendidos">
        <ion-item>
          <ion-label> {{x.id_usuario}} </ion-label>
          <ion-label> {{x.nickName}} </ion-label>
          <ion-label> {{x.correo}} </ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" (click)="activar(x)">Activar</ion-item-option>
          <ion-item-option color="danger" (click)="eliminar(x)">Borrar</ion-item-option>
        </ion-item-options>
    
      </ion-item-sliding>
    </ion-list>
  </div>

</ion-content>
