<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Publicar tema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="form-container">
    <ion-item>
      <ion-input label="Titulo del tema" labelPlacement="floating" placeholder="Ingrese titulo"
        [(ngModel)]="titulo" (ngModelChange)="validarTitulo()"></ion-input>
    </ion-item>
    <p *ngIf="msjTitulo" class="error"> {{msjTitulo}} </p>

    <ion-item>
      <ion-textarea label="Escriba aqui sobre su tema" labelPlacement="floating" placeholder="Ingrese texto" [(ngModel)]="texto"
      (ngModelChange)="validarTexto()" class="custom-textarea"></ion-textarea>
    </ion-item>
    <p *ngIf="msjTexto" class="error"> {{msjTexto}} </p>
    
    <div class="btn-container">
      <ion-button color="success" (click)="insertar()" class="btn-agregar">Publicar foro</ion-button>
      <ion-button color="danger" [routerLink]="['/foro']" class="btn-cancelar">Cancelar</ion-button>
    </div>
  </div>
</ion-content>
