.contenedor-perfil{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 40px;
}

.imagen-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid purple;
}

.boton-icono {
    position: absolute;
    top: 10px;
    right: 10px;
    --size: 40px;
    width: var(--size);
    height: var(--size);
    font-size: var(--size);
}

.datos{
    text-align: center;
}

.fondo {
    background-image: url('../../../assets/portadas/fondo5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 500;
}