<ion-header [translucent]="true">
  <ion-back-button defaultHref="/home" class="custom-back-button"></ion-back-button>
  <ion-toolbar>
    <ion-title class="title" >Configuracion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item [routerLink]="['/cambio-p']">
    <ion-label>Cambiar mi contraseña</ion-label>
  </ion-item>
  <ion-item [routerLink]="['/cambio-u']">
    <ion-label>Cambiar Correo Electronico</ion-label>
  </ion-item>
  <ion-item [routerLink]="['/olvpas']">
    <ion-label>Olvide mi contraseña</ion-label>
  </ion-item>
</ion-content>
