.contenedor-perfil{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 40px;
}

.imagen-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.datos{
    text-align: center;
}

.fondo {
    background-image: url('../../../assets/portadas/fondo5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 500;
}