<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Estrenos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let juego of juegos">
    <ion-card>
      <img *ngIf="juego.background_image" alt="Imagen del juego" [src]="juego.background_image" />
      <ion-card-header>
        <ion-card-title>{{ juego.name }}</ion-card-title>
      </ion-card-header>
  
      
      <div class="alinear">
        <ion-card-content>
          <p>
            Estreno: {{ juego.released }}
          </p>
          <p *ngFor="let plataforma of juego.platforms">
        
            {{ plataforma.platform.name }}
          </p>
        </ion-card-content>
        <ion-button (click)="compartir(juego)" class="btn-custom" fill="clear">
          <ion-icon name="share-social-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
  </div>
  <ion-button color="tertiary" *ngIf="nextPage" (click)="paginaSiguiente()">Cargar más juegos</ion-button>

</ion-content>
