<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Foros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>[Hilo-ofcial] Es importante los graficos en un videojuego?</ion-card-title>
        <p>Autor: tedd</p>
    </ion-card-header>
  
    <ion-card-content>
      El tema de siempre, personalmente a mi no me importa tanto los graficos, sino me importa el 
      arte que tiene. Me explico, voy a poner a elden ring como ejemplo, todos sabemos que no tiene
      los mejores graficos, pero la direccion de arte es espectacular vas caminando por el mundo y cada
      paso es un fondo de pantalla.
    </ion-card-content>
  </ion-card>
  
  <ion-list>
    <h2>Comentarios:</h2>
    <ion-item>
      <ion-textarea class="custom-textarea" placeholder="Comenta aqui"></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="button-container">
    <ion-button>Enviar comentario</ion-button>
  </div>
</ion-content>
