<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Foros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>[Off Topic] Acabo de comprar una Ps2 en 2024, ¿que juego compro?</ion-card-title>
      <p>Autor: Theluer1027</p>
    </ion-card-header>
  
    <ion-card-content>
      Hola hoy mismo volví a adquirir el ps2 que tenía hace más 20 años, era una consola que dure usando con ella hasta 2010 y
      la usaba con mi hermano hasta que se daño del lector y mi padre nos terminó comprando una Xbox 360 y de ahí hasta 2017
      que la lleve a reparar para regalársela a un primo que no le va muy bien económicamente y para que se entretuviera.
      <br>
      <br>
      Pues le he dicho hoy que si la tenía y que si se la compraba, él me dijo que sí y bueno pues fui por ella, mi primo la
      había usado durante 2 años y todo bien pero la dejó por falta de juegos ya que dice que no le llamaban mucho, asi que
      desde 2021 que al consola no andaba y para mi sorpresa sirve y todavía le anda el chip, ósea que me puedo instalar
      juegos por montones, así que ya después de toda esta historia ¿Que juegos me instalo o me compro? .
      <br>
      <br>
      Soy joven tengo 18, así que conozco algunos juegos y mi yo de 4-6 años jugó al jak and Daxter, ratchet and clank,
      Scaler, splinter cell, Gran turismo, Crash bandicoot de las secuelas, y más juegos que recuerdo. Espero me puedan
      ayudar.
    </ion-card-content>
  </ion-card>
  
  <ion-list>
    <h2>Comentarios:</h2>
    <ion-item>
      <ion-textarea class="custom-textarea" placeholder="Comenta aqui"></ion-textarea>
    </ion-item>
  </ion-list>
  
  <div class="button-container">
    <ion-button>Enviar comentario</ion-button>
  </div>
</ion-content>
