.portada{
    width: 412px;
    height: 150px;
    border: 2px solid #000;

    background-image: url(../../../assets/icon/Logo.png);

    resize: both;
    overflow: auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}