<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Foros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="portada">

    <ion-title class="bienvenida" style="word-wrap: break-word; white-space: normal;">Bienvenidos al foro de GamerNest</ion-title>

    <div class="contenido">

      <ion-header>
        <div class="header-container">
          <h3>Temas:</h3>
          <ion-button shape="round" color="tertiary" class="custom-button" (click)="agregarTema()" [(ngModel)]="usuarioLogueado" (ngModelChange)="validarBoton()">Agregar tema</ion-button>
        </div>
        <p *ngIf="msjError" class="error"> {{msjError}} </p>
      </ion-header>

      <ion-list *ngFor="let x of arregloForo">
        <!-- <ion-item>
          <ion-label>Titulo: {{x.titulo}} </ion-label> <br>
          <p>Autor : {{x.autor}} </p>
          <p>Contenido: {{x.texto}} </p>
          <p>ID usuario: {{x.id_usuario}} </p>
        </ion-item> -->
        <ion-item>
          <ion-label> {{x.titulo}} <br>
            <p>Autor: {{x.autor}} </p>
          </ion-label>
        </ion-item>
      </ion-list>

    </div> 

  </div>
</ion-content>