.portada{
    background-image: url(../../../assets/portadas/fondo2.avif);
    background-repeat: repeat-y;
    // background-size: cover;
    background-position: center;
    min-height: 100vh;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}


.bienvenida{
    color: white;
    padding-top: 50px;
}

.contenido{
    padding-top: 90px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

