<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Foros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <div class="portada">
      
    </div>
  </ion-header>
  
  <ion-list>
    <ion-list-header>
      <h3>Temas</h3>
    </ion-list-header>
    <ion-item>
      <ion-label>Los juegos en formato fisico desapareceran? <br>
      <p>Autor: lukskywoker13</p></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>[Hilo-ofcial] Es importante los graficos en un videojuego? <br>
      <p>Autor: tedd</p></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>[Off Topic] Compartan memes de anime o videojuegos!!<br>
      <p>Autor: ronniecolemman</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nier automata: ayuda con el final C<br>
      <p>Autor: Silver342</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>[Off Topic] Acabo de comprar una Ps2 en 2024, ¿que juego compro?<br>
      <p>Autor: Theluer1027</ion-label>
    </ion-item>
  </ion-list>
</ion-content>