<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="noticia1" src="../../../assets/portadas/finalf.avif" />
    <ion-card-header>
      <ion-card-title>1. Final fantasy VII: Rebirth</ion-card-title>
      <ion-card-subtitle>29 de febrero del 2024</ion-card-subtitle>
      <ion-card-subtitle>Ps5</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      La segunda parte del ambicioso remake de una de las entregas más legendarias de 'Final Fantasy', su séptima parte, nos
      muestra el mundo de Gaia en toda su plenitud, después de una primera mitad que se centró en Midgar. De nuevo
      encontraremos eventos que recordamos del juego original ampliamente reescritos y modificados, y el desarrollo se volcará
      en un mundo ya prácticamente abierto.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="noticia1" src="../../../assets/portadas/tekken.webp" />
    <ion-card-header>
      <ion-card-title>2. Tekken 8</ion-card-title>
      <ion-card-subtitle>25 de enero del 2024</ion-card-subtitle>
      <ion-card-subtitle>PC, Ps5, Xbox series X|S</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Después de un tramo final del año pasado en el que tuvimos nuevas entregas de 'Street Fighter' y 'Mortal Kombat', es el
      turno de otra de las sagas de lucha por excelencia. Con un róster de 32 mostrencos, el juego ha hecho hincapié en un
      estilo de juego más agresivo y arcade, y la jugada le ha salido estupendamente.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="noticia1" src="../../../assets/portadas/elden-ring-shadow-of-the-erdtree-resena-portada.webp" />
    <ion-card-header>
      <ion-card-title>3. Elden ring dlc: Shadow of the erdtree</ion-card-title>
      <ion-card-subtitle>20 de junio del 2024</ion-card-subtitle>
      <ion-card-subtitle>PC, Ps5, Xbox series X|S</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Solo FromSoftware podía conseguirlo: anunciada como una expansión de 'Elden Ring' ha acabado convirtiéndose en uno de
      los juegos indiscutibles del año gracias a su extensión y su ambición, que expande y mejora todo lo que vimos en su obra
      maestra previa. Nuevos enemigos, nuevos sistemas, un arsenal de un centenar de nuevas armas... un paraíso para los
      devotos de los imposibles.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="noticia1" src="../../../assets/portadas/wukong.jpg" />
    <ion-card-header>
      <ion-card-title>4. Black Myth Wukong</ion-card-title>
      <ion-card-subtitle>19 de agosto del 2024</ion-card-subtitle>
      <ion-card-subtitle>PC, Ps5</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Este juego basado en la leyenda del Rey Mono que ha inspirado tantas aventuras (sin ir más lejos, 'Dragon Ball') ha
      asombrado por sus increíbles gráficos construidos con Unreal Engine 5, y por sus mecánicas que parece que nos brindarán
      uno de los soulslike del año.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="noticia1" src="../../../assets/portadas/stellar.jpg" />
    <ion-card-header>
      <ion-card-title>5. Stellar Blade</ion-card-title>
      <ion-card-subtitle>26 de abril del 2024</ion-card-subtitle>
      <ion-card-subtitle>Ps5</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Este exclusivo de Playstation 5 es una mezcla de juegos de acción trepidante estilo PlatinumGames y un notable
      componente de exploración y desarrollo rolero de personajes. Damos vida a una supersoldado que se enfrenta a una raza
      alienígena que amenaza la Tierra, en un juego que, por lo que hemos visto en los avances, saca buen partido de toda la
      potencia gráfica de la consola de Sony.
    </ion-card-content>
  </ion-card>
</ion-content>
