<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Normas de la comunidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>GamerNest</h1>
  
  <h2>1. Respeto mutuo</h2>
  <p>
    El respeto es la base de cualquier comunidad. No se tolerarán insultos, ataques personales, acoso o cualquier
    comportamiento que promueva el odio o la discriminación. Todos los usuarios deben tratar a los demás con amabilidad,
    independientemente de sus opiniones, nivel de habilidad o experiencia en videojuegos.
  </p>
  
  <h2>2. No al contenido ofensivo o inapropiado</h2>
  <p>
    Está prohibido publicar contenido que sea violento, sexualmente explícito, ofensivo o que promueva el odio, la
    violencia, el racismo, la xenofobia o cualquier tipo de intolerancia. Cualquier publicación que infrinja esta norma será
    eliminada, y el usuario responsable podría ser sancionado o expulsado.
  </p>

  <h2>3. Evita el spam y la autopromoción</h2>
  <p>
    No está permitido el spam, la promoción excesiva de productos, servicios o sitios web externos, ni la publicación de
    enlaces irrelevantes. Si deseas compartir contenido externo, asegúrate de que sea relevante para la discusión y aporte
    valor a la comunidad.
  </p>

  <h2>4. Usa un lenguaje adecuado</h2>
  <p>
    El uso de lenguaje vulgar está prohibido. Queremos que la comunidad sea un espacio en el que todos puedan
    sentirse cómodos participando, incluidos los más jóvenes. Manten tus comentarios civilizados y apropiados para todas las
    edades.
  </p>

  <h2>5. Contenido relacionado con videojuegos</h2>
  <p>
    Este es un foro sobre videojuegos, por lo que el contenido debe estar relacionado con este tema. Las publicaciones sobre
    otros temas, a menos que sean en secciones designadas para ello, pueden ser eliminadas. Queremos mantener el enfoque en
    lo que nos une: nuestra pasión por los videojuegos.
  </p>

  <h2>Consecuencias por incumplimiento de las normas</h2>
  <p>
    El incumplimiento de estas normas puede resultar en advertencias, la eliminación de contenido, suspensiones temporales o
    la expulsión permanente del foro, dependiendo de la gravedad de la infracción.
    
    Estas normas están diseñadas para asegurar que todos los miembros de la comunidad disfruten de una experiencia positiva.
    Apreciamos tu colaboración para mantener un ambiente respetuoso y amigable.
  </p>
  
</ion-content>
