<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title" >Terminos y condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item [routerLink]="['/']">
    <ion-label>Normas de la comunidad</ion-label>
  </ion-item>
  <ion-item [routerLink]="['/']">
    <ion-label>Terminos y servicios </ion-label>
  </ion-item>
  <ion-item [routerLink]="['/']">
    <ion-label>Politica y privacidad</ion-label>
  </ion-item>
</ion-content>
