<ion-header [translucent]="true">
  <ion-back-button defaultHref="/configuracion" class="custom-back-button"></ion-back-button>
  <ion-toolbar>
    <ion-title class="title" >Cambiar Contraseña </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <strong>
      <ion-item>
        <ion-input [(ngModel)]="contrasena" label="Contraseña actual:" type="password" value=""></ion-input>
      </ion-item>
    </strong>
    <ion-item>
      <ion-input [(ngModel)]="password" label="Nueva contraseña:" type="password" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirme su contraseña</ion-label>
      <ion-input type="password" value=""></ion-input>
    </ion-item>
    
  </div>
  <ion-button class="ion-padding" (click)="continuar()">Actualizar</ion-button>
</ion-content>
