<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title" >Cambiar Contraseña </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    
    <ion-item>
      <ion-input [(ngModel)]="contrasenaIngresada" (ngModelChange)="validarContrasena()" type="password" label="Contraseña actual:">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <p *ngIf="msjContrasena" class="error"> {{msjContrasena}} </p>

    <ion-item>
      <ion-input [(ngModel)]="newPassword" (ngModelChange)="validarNuevaContrasena()" type="password" label="Nueva contraseña:">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <p *ngIf="msjNuevaContrasena" class="error"> {{msjNuevaContrasena}} </p>

    <ion-item>
      <ion-input [(ngModel)]="password2" (ngModelChange)="validarContrasenas()" type="password" placeholder="Confirme su nueva contraseña">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <p *ngIf="msjContrasenasIguales" class="error"> {{msjContrasenasIguales}} </p>
    
  </div>
  <ion-button class="ion-padding" (click)="continuar()">Actualizar</ion-button>
</ion-content>
