<ion-header [translucent]="true">
  <ion-back-button defaultHref="/configuracion" class="custom-back-button"></ion-back-button>
  <ion-toolbar>
    <ion-title class="title" >Cambiar Contraseña </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <strong>
      <ion-item>
        <ion-input label="contraseña actual" type="password" value=""></ion-input>
      </ion-item>
    </strong>
    <ion-item>
      <ion-input label="nueva contraseña " type="password" value=""></ion-input>
    </ion-item>
  </div>
  <ion-button class="ion-padding" [routerLink]="['/home']" id="footer-alerta">Actualizar</ion-button>
  <ion-toast
  trigger="footer-alerta"
  position="bottom"
  positionAnchor="footer"
  message="la contraseña se actualizo con exito"
  duration="2000"
></ion-toast>
</ion-content>

