<ion-header [translucent]="true">
  <!-- <ion-back-button defaultHref="/configuracion" class="custom-back-button"></ion-back-button> -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title" >iniciar sesion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="fondo">
    <div id="container">
      <strong>
        <ion-item>
          <ion-input [(ngModel)]="usuario" placeholder="Ingrese su usuario:"></ion-input>
        </ion-item>
      </strong>
      <ion-item>
        <ion-input [(ngModel)]="contrasena" type="password" placeholder="Ingrese su contraseña:"></ion-input>
      </ion-item>
    </div>
    <ion-button class="ion-padding" (click)="continuar()">Iniciar sesion</ion-button>
  </div>
</ion-content>