<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title" >iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="fondo">

    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-input [(ngModel)]="nickName" (ngModelChange)="validarUsuario()" label="Usuario:"></ion-input>
      </ion-item>
      <p *ngIf="msjUsuario" class="error"> {{msjUsuario}} </p>
      
      <ion-item>
        <ion-icon slot="start" name="lock-closed"></ion-icon>
        <ion-input [(ngModel)]="clave" (ngModelChange)="validarContrasena()" type="password" label="Contraseña:">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <p *ngIf="msjContrasena" class="error"> {{msjContrasena}} </p>
      
    </ion-list>
    
    <ion-label class="contraseña" [routerLink]="['/olvpas']">¿Olvidateste tu contraseña?</ion-label>
    <br>
    <ion-label class="registro" [routerLink]="['/registro']">¿No tienetes cuenta? Registrate aqui</ion-label>
    
    <ion-button class="ion-padding" (click)="continuar()">Iniciar sesión</ion-button>

  </div>
</ion-content>