
.fondo {
  background-image: url('../../../assets/portadas/fondo3.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.contraseña{
  color: rgba(253, 236, 0, 0.986);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  text-decoration: underline;
}

.registro{
  color: rgba(253, 236, 0, 0.986);
  text-align: center;
  text-decoration: underline;
}

.error{
  color: red;
  font-size: 15px;
  text-align: center;
}