<ion-app>
  <ion-menu-toggle>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <img src="../assets/portadas/Logo99.jfif" alt="">
          <ion-item>
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label [routerLink]="['/home']">Página principal</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="game-controller-outline"></ion-icon>
            <ion-label [routerLink]="['/foros']">Foros</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="newspaper-sharp"></ion-icon>
            <ion-label [routerLink]="['/noticias']">Noticias</ion-label>
          </ion-item>
          <ion-item *ngIf="usuarioLogeado">
            <ion-icon slot="start" name="star-outline"></ion-icon>
            <ion-label [routerLink]="['/favorito']">Favoritos</ion-label>
          </ion-item>
          <ion-item *ngIf="!usuarioLogeado">
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label [routerLink]="['/login']">Iniciar sesión</ion-label>
          </ion-item>
          <ion-item [routerLink]="['/registro']">
            <ion-icon slot="start" name="person-add"></ion-icon>
            <ion-label>Registrarse</ion-label>
          </ion-item>
          <ion-item *ngIf="usuarioLogeado">
            <ion-icon slot="start" name="help-outline"></ion-icon>
            <ion-label [routerLink]="['/ayuda']">Ayuda</ion-label>
          </ion-item>
          <ion-item *ngIf="usuarioLogeado" [routerLink]="['/configuracion']">
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            <ion-label>Editar perfil</ion-label>
          </ion-item>
          <ion-item *ngIf="usuarioLogeado" (click)="cerrarSesion()">
            <ion-icon slot="start" name="close-outline" color="danger"></ion-icon>
            <ion-label>Cerrar sesión</ion-label>
          </ion-item>
          <ion-item class="ionic" [routerLink]="['/termino']">
            <ion-label>Terminos y Condiciones</ion-label>
          </ion-item>
          <ion-item *ngIf="esAdmin" [routerLink]="['/admin']">
            <ion-label>Admin</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
  </ion-menu-toggle>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
