<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Foros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Los juegos en formato fisico desapareceran?</ion-card-title>
        <p>Autor: lukskywoker13</p>
      </ion-card-header>
    
      <ion-card-content>Nose que pensaran ustedes pero en los ultimos años eh comprado juegos solamente en formato digital
        , esto es por la comodidad y los descuentos. Personalmente no veo problema, pero para los coleccionista va estar dificil encontrar
        el formato fisico porque la tiendas estan cerrando.
      </ion-card-content>
    </ion-card>

    <ion-list>
      <h2>Comentarios:</h2>
      <ion-item>
        <ion-textarea class="custom-textarea" placeholder="Comenta aqui"></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="button-container">
      <ion-button>Enviar comentario</ion-button>
    </div>
  
</ion-content>
