<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="noticia2" src="../../../assets/portadas/hp.jfif" />
    <ion-card-header>
      <ion-card-title>1. Harry potter: campeones de quidditch</ion-card-title>
      <ion-card-subtitle> Estreno: 3 de septiembre del 2024</ion-card-subtitle>
      <ion-card-subtitle>Pc, Ps5, Xbox series X|S</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Basado en el mágico deporte de Hogwarts. Sumérgete en el encantador mundo del Quidditch jugando solo o compartiendo la
      magia con amigos y familiares. Surca los cielos en uno de los puestos tradicionales del juego: cazador, buscador,
      guardián o golpeador, cada uno con su estilo único de juego. Vuela en campos de quidditch legendarios, así como en mapas
      que muestran zonas nunca vistas del mundo mágico.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="noticia2" src="../../../assets/portadas/age.jpg" />
    <ion-card-header>
      <ion-card-title>2. Age of Mythology: Retold</ion-card-title>
      <ion-card-subtitle> Estreno: 4 de septiembre del 2024</ion-card-subtitle>
      <ion-card-subtitle>Pc, Xbox series X|S</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Una remasterización del título clásico con gráficos, sonido y otras características actualizadas. Protege tus dominios,
      lidera monstruos legendarios e invoca el poder de los dioses para acabar con tus enemigos.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="noticia2" src="../../../assets/portadas/astro.avif" />
    <ion-card-header>
      <ion-card-title>3. Astro Bot</ion-card-title>
      <ion-card-subtitle> Estreno: 6 de septiembre del 2024</ion-card-subtitle>
      <ion-card-subtitle>PS5</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      En este nuevo juego, explorarás 6 galaxias y más de 80 niveles en busca de la desperdigada tripulación de Astro.
      ¡Agárrate fuerte a tu Dual Speeder y sumérgete en cada planeta único, desde frondosos bosques, playas arenosas y
      volcanes ardientes hasta lugares más sorprendentes como un reloj de arena gigante o la copa de un arbol cantarín!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="noticia2" src="../../../assets/portadas/space marine.jpg" />
    <ion-card-header>
      <ion-card-title>4. Warhammer 40.00: Space Marine 2</ion-card-title>
      <ion-card-subtitle> Estreno: 9 de septiembre del 2024</ion-card-subtitle>
      <ion-card-subtitle>Pc, Ps5, Xbox series X|S</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Warhammer 40.000: Space Marine 2 es una aventura de acción a cargo de Saber Interactive y Focus Home Interactive para
      PC, PlayStation 5 y Xbox Series en la que debemos eliminar a las hordas de Tiránidos en la piel de un poderoso Marine
      Espacial. La humanidad corre peligro. El Imperio te necesita. Conviértete en un Marine Espacial de destrezas
      sobrehumanas, los mejores guerreros del Emperador, y acaba con las implacables hordas enemigas con tus capacidades
      mortíferas y un arsenal devastador.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="noticia2" src="../../../assets/portadas/godofwar.webp" />
    <ion-card-header>
      <ion-card-title>5. God of war: Ragnarok</ion-card-title>
      <ion-card-subtitle> Estreno: 19 de septiembre del 2024</ion-card-subtitle>
      <ion-card-subtitle>Pc</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      El ragnarok aterriza en Steam que sigue con las aventuras de Kratos tras su anterior entrega. Juntos, Kratos y Atreus se adentran en los nueve reinos
      en busca de respuestas mientras las fuerzas de Asgard se preparan para la guerra. A lo largo de su aventura, explorarán
      paisajes mitológicos increíbles, reunirán aliados de los nueve reinos y se enfrentarán a imponentes enemigos con aspecto
      de monstruos y dioses nórdicos.
    </ion-card-content>
  </ion-card>
</ion-content>
