<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar reseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input label="Titulo de la reseña" labelPlacement="floating" placeholder="Ingrese titulo"
      [(ngModel)]="titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Titular de la reseña" labelPlacement="floating" placeholder="Ingrese titular"
      [(ngModel)]="titular"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Texto de la reseña" labelPlacement="floating" placeholder="Ingrese texto"
      [(ngModel)]="texto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button color="warning" (click)="takePicture()">Agregar foto</ion-button>
    <img *ngIf="foto" [src]="foto" alt="sin foto">
  </ion-item>
  <ion-button color="success" [routerLink]="['/crear-contenido']" (click)="insertar()">Agregar reseña</ion-button>
  <ion-button color="danger" [routerLink]="['/crear-contenido']">Cancelar</ion-button>

</ion-content>
