<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="1" src="../../../assets/portadas/2024.webp" />
    <ion-card-header>
      <ion-card-title>Los mejores lanzamientos de enero hasta agosto del 2024.</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      En el siguiente articulo encontraras los mejores juegos en lo que va del año.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="2" src="../../../assets/portadas/space marine.jpg" />
    <ion-card-header>
      <ion-card-title>Proximos lanzamientos en septiembre del 2024 </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Revisa aqui los lanzamientos que tiene septiembre para PC, Xbox series y PS5.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="3" src="../../../assets/portadas/fracasos.webp" />
    <ion-card-header>
      <ion-card-title>Los mayores fracasos del 2024</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Echemos un vistazo a los juegos que mas nos decepcionaron y los que causaron perdidas millonarias.
    </ion-card-content>
  </ion-card>
</ion-content>
