<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Foros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Viciado de mas de 40 años</ion-card-title>
      <p>Autor: ronniecolemman</p>
    </ion-card-header>
  
    <ion-card-content>
      Buenas, tengo 43 años y me gustaría conocer a gente de edades cercanas para jugar a ps5-ps4.
      
      Interesado en juegos como Ark, Minecraft, DayZ, cualquier juego de supervivencia, fornite , aunque solo lo juego en
      grupo. Abierto a sugerencias!
      
      Saludos!
    </ion-card-content>
  </ion-card>
  
  <ion-list>
    <h2>Comentarios:</h2>
    <ion-item>
      <ion-textarea class="custom-textarea" placeholder="Comenta aqui"></ion-textarea>
    </ion-item>
  </ion-list>
  
  <div class="button-container">
    <ion-button>Enviar comentario</ion-button>
  </div>
</ion-content>
