.error {
    color: red;
    font-size: 15px;
    text-align: center;
}

h1 {
    color: var(--ion-color-barra);
    text-align: center;
    font-size: 2.0rem;
    margin-bottom: 20px;
    font-family: 'Arial Black', sans-serif;
}

