<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="../../assets/icon/Logo2.png" />
      </ion-avatar>
      <ion-label>GamerNest</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <section>
      <img src="../../assets/portadas/Lies of P.avif" alt="">
      <img src="../../assets/portadas/MHW.jpg" alt="">
      <img src="../../assets/portadas/ba706e54d68d10a0eb6ab7c36cdad9178c58b7fb7bb03d28.avif" alt="">
      <img src="../../assets/portadas/Thewitcher.avif" alt="">
    </section>

    <ion-searchbar placeholder="Buscar"></ion-searchbar>
  </ion-header>

  <!-- Noticias de videjuegos -->
  <ion-list>
    <ion-list-header>
      <h3>Noticias</h3>
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/portadas/icone-du-monde-rouge.png" >
      </ion-avatar>
      <ion-label>
        <h2 [routerLink]="['/noticia-1']">Los mejores juegos en lo que va del año</h2>
        <p>Revisa aqui los mejores lanzamientos</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/portadas/icone-du-monde-rouge.png">
      </ion-avatar>
      <ion-label>
        <h2 [routerLink]="['/noticia-2']">Los proximos lanzamientos de septiembre</h2>
        <p>¡Septiembre tiene grandes estrenos!</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/portadas/icone-du-monde-rouge.png">
      </ion-avatar>
      <ion-label>
        <h2 [routerLink]="['/noticia-3']">Los mayores fracasos del 2024</h2>
        <p>Aun no termina el año y hay perdidas millonarias</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Foro (Temas de conversacion) -->
  <ion-list>
    <ion-list-header>
      <h3>Foros</h3>
    </ion-list-header>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/portadas/png-transparent-game-controllers-video-game-computer-icons-gamepad-miscellaneous-game-electronics.png">
      </ion-avatar>
      <ion-label>
        <h2 [routerLink]="['/foro-1']">Los juegos en formato fisico desapareceran?</h2>
        <p>Por lukskywoker13</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/portadas/png-transparent-game-controllers-video-game-computer-icons-gamepad-miscellaneous-game-electronics.png">
      </ion-avatar>
      <ion-label>
        <h2 [routerLink]="['/foro-2']">[Hilo-ofcial] Es importante los graficos en un videjuego?</h2>
        <p>Por tedd</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/portadas/png-transparent-game-controllers-video-game-computer-icons-gamepad-miscellaneous-game-electronics.png">
      </ion-avatar>
      <ion-label>
        <h2 [routerLink]="['/foro-3']">Viciado de mas de 40 años</h2>
        <p>Por ronniecolemman</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Reseñas de videojuegos -->
  <ion-list>
    <ion-list-header>
      <h3>Reseñas de Juegos</h3>
    </ion-list-header>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/portadas/elden-ring-shadow-of-the-erdtree-resena-portada.webp">
      </ion-avatar>
      <ion-label>
        <h2>Elden ring: dlc Shadow of the erdtree</h2>
        <h3>From software</h3>
        <p>Pc, Xbox series x|s y Playstaion 5</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/portadas/Cyberpunk_2077_portada.webp">
      </ion-avatar>
      <ion-label>
        <h2>Cyberpunk 2077</h2>
        <h3>CD Poyect Red</h3>
        <p>Pc, Xbox series x|s y Playstaion 5</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/portadas/red_dead_3__nombre_temporal_-4030936.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Red dead redemption 2</h2>
        <h3>Rockstar</h3>
        <p>Pc, Xbox series x|s y Ps4|Ps5</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
