<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let x of favorito">
    <ion-card>
      <img alt="1" [src]="x.foto" />
      <ion-card-header>
        <ion-card-title> {{x.titulo}} </ion-card-title>
      </ion-card-header>
      
      <div class="alinear">
        <ion-card-content class="titular">{{x.titular}}</ion-card-content>
        <ion-button fill="clear" class="btn-custom" (click)="borrar(x)">
          <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
      
    </ion-card>
  </div>
</ion-content>
